/*container height*/
.con-min-height{
  min-height:80vh;
}
/*top margin small*/
.top-spacing-s{
  margin-top:12px;
}

.top-spacing-xs{
  margin-top:6px;
}

.top-spacing-m{
  margin-top:20px;
}

/*top margin large*/
.top-spacing-l{
  margin-top:30px;
}

/*cursor pointer*/
.pointer{
  cursor:pointer;
}

.task-l-b{
  font-weight: bold;
  font-size: 1.3rem;
}

.task-l{
  /*font-weight: bold;*/
  font-size: 1.2rem;
}

.task-xs{
  font-size: 0.7rem;
}